<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

</body>
    <footer th:fragment="footer">
        <div th:if="not ${user}" class="page-up-footer centered">
            <div class="dec-pancake items-gap">
                <h5>Sign up or log in</h5>
                <a class="btn" href="/registration">Sign up!</a>
                <a class="btn" href="/auth/login">LOG IN</a>
            </div>
        </div>
        <div class="page-footer centered">
            <div>
                <h4>
                    © 2020 Copyright: Ilya Buglakov
                </h4>
            </div>
        </div>
    </footer>
</html>