<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/static/style/style.css}" rel="stylesheet" type="text/css"/>
    <title>Please sign in</title>
</head>
<body>
<div class="page">
    <div class="header-logo centered">
        <a href="/">
            <h3>Elevate</h3>
        </a>
    </div>
    <div class="dec-pancake">
        <form class="form-card card-md bg-lightblue" method="post" action="/auth/login">
            <h2 class="form-sign-in-heading">Sign in</h2>
            <input type="email" id="username" name="username" class="form-input rounded-10" placeholder="Your Email" required=""
                   autofocus="">
            <input type="password" id="password" name="password" class="form-input rounded-10" placeholder="Your Password"
                   required="">
            <button class="btn mg-top-2rem" type="submit">SIGN IN</button>
        </form>
    </div>
    <div th:insert="footer::footer"></div>
</div>
</body>
</html>