<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Elevate профиль</title>
    <link th:href="@{/static/style/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="page">
    <div th:insert="header::header"></div>
    <main class="main stack centered">
            <div class="profile-card">
                <div class="profile-card-content">


                    <div class="profile-img">
                        <img src="/static/images/default-user.jpg">
                    </div>
                    <div class="profile-info">
                        <h5><span class="card-title" th:text="${user.name}"></span> <span class="text-center"
                                                                                          th:text="${user.surname}"></span>
                        </h5>
                        <p class="card-text" th:text="${user.email}"></p>
                        <p class="card-text"><small class="text-muted">Дата регистрации: <span
                                th:text="${user.registrationDate}"></span></small></p>
                    </div>
            </div>
        </div>
        <div class="section">
            <p>Зачения характеристик пользователя <span class="text-center" th:text="${user.name}"></span>:</p>
            <div class="row">
                <div class="col-1">
                    <h4>Memory </h4>
                </div>
                <div class="col">
                    <p th:text="${user.characteristic.memory}"></p>
                </div>
            </div>
        </div>
    </main>
    <div th:insert="footer::footer"></div>
</div>


</body>
</html>