<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/static/style/style.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Elevate Tests</title>
</head>
<body>
<div class="page">
    <div th:insert="header::header"></div>
    <main class="main">
        <div class="section h-100">
            <div class="section content centered">
                <h2>Каталог</h2>
            </div>
            <div th:if="${tests}" class="content test-grid padding-2rem">
                <div class="test-card centered" th:each="test : ${tests}">
                    <h2 th:text="${test.testName}"></h2>
                    <div class="test-params align-items-left">
                        <p>Сложность: <b th:text="${test.difficulty}"></b></p>
                        <p>Число вопросов: <b th:text="${test.questions.size}"></b></p>
                        <div th:unless="${test.characteristics == empty}" class="test-characteristics padding-top-2rem">
                            <p>Характеристики: </p>
                            <div th:each="characteristic:${test.characteristics}">
                                <h4 th:text="${characteristic.name}"></h4>
                            </div>
                        </div>
                    </div>
                    <a th:href="'./test' + '?testId=' + ${test.id}" class="btn mg-top-2rem">Пройти тест</a>
                </div>
            </div>
            <div class="content h-100"></div>
        </div>
    </main>
    <div th:insert="footer::footer"></div>
</div>
</body>
</html>